<?xml version="1.0"?>

<div class="article">
    <h2><a href="/*{{article.seo_name}}">{{article.title}}</a></h2>
    <h5>
        <img src="/img/time.png" /> published by <a href="/users/*{{article.author}}">{{article.author}}</a> at {{article.created_s}} in {{article.category_link}} 
        <img src="/img/comment.png" /> {{article.comment_count}} <a href="/*{{article.seo_name}}#comments">comments</a>
    </h5>
    <div class="body">
        {% if article.summary? %}
        {{article.summary}} <a href="/*{{article.seo_name}}">read more</a>
        {% else %}
        {{article.body}}
        {% endif %}
    </div>
    <h5>
        {% if article.tagstring %}
        <a href="/tags"><img src="/img/tag.png" /></a> {{article.linked_tagstring}} &#160;
        {% endif %}
        <img src="/img/comment.png" /> <a href="/*{{article.seo_name}}#comments">add comment</a> &#160;
    </h5>
</div>
